.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.icon.is-left {
    color: #dbdbdb;
    pointer-events: none;
    position: absolute;
    top: 0.5em;
    z-index: 4;
    left: 0.5em;
}